[data-theme='tunepulsetheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(94.82% 0.03 156.48deg);
	--color-primary-100: oklch(89.02% 0.07 155.82deg);
	--color-primary-200: oklch(83.39% 0.1 155deg);
	--color-primary-300: oklch(78.13% 0.14 153.39deg);
	--color-primary-400: oklch(73.24% 0.17 151.48deg);
	--color-primary-500: oklch(68.88% 0.19 148.92deg);
	--color-primary-600: oklch(63.59% 0.17 148.94deg);
	--color-primary-700: oklch(58.2% 0.16 149.2deg);
	--color-primary-800: oklch(52.95% 0.14 149.14deg);
	--color-primary-900: oklch(47.29% 0.12 149.52deg);
	--color-primary-950: oklch(41.45% 0.11 149.64deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.69% 0.04 157.38deg);
	--color-secondary-100: oklch(91.08% 0.08 156.21deg);
	--color-secondary-200: oklch(86.81% 0.12 154.82deg);
	--color-secondary-300: oklch(83.16% 0.16 153.13deg);
	--color-secondary-400: oklch(79.8% 0.19 151.07deg);
	--color-secondary-500: oklch(76.97% 0.21 148.67deg);
	--color-secondary-600: oklch(71.02% 0.2 148.72deg);
	--color-secondary-700: oklch(64.94% 0.18 148.79deg);
	--color-secondary-800: oklch(58.73% 0.16 149.1deg);
	--color-secondary-900: oklch(52.34% 0.14 149.25deg);
	--color-secondary-950: oklch(45.74% 0.12 149.44deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(100% 0 none);
	--color-tertiary-200: oklch(100% 0 none);
	--color-tertiary-300: oklch(100% 0 none);
	--color-tertiary-400: oklch(100% 0 none);
	--color-tertiary-500: oklch(100% 0 none);
	--color-tertiary-600: oklch(92.19% 0 none);
	--color-tertiary-700: oklch(84.21% 0 none);
	--color-tertiary-800: oklch(76.04% 0 none);
	--color-tertiary-900: oklch(67.64% 0 none);
	--color-tertiary-950: oklch(58.97% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(95.69% 0.04 157.38deg);
	--color-success-100: oklch(91.08% 0.08 156.21deg);
	--color-success-200: oklch(86.81% 0.12 154.82deg);
	--color-success-300: oklch(83.16% 0.16 153.13deg);
	--color-success-400: oklch(79.8% 0.19 151.07deg);
	--color-success-500: oklch(76.97% 0.21 148.67deg);
	--color-success-600: oklch(71.02% 0.2 148.72deg);
	--color-success-700: oklch(64.94% 0.18 148.79deg);
	--color-success-800: oklch(58.73% 0.16 149.1deg);
	--color-success-900: oklch(52.34% 0.14 149.25deg);
	--color-success-950: oklch(45.74% 0.12 149.44deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.38% 0.03 92.29deg);
	--color-warning-100: oklch(92.24% 0.06 92.44deg);
	--color-warning-200: oklch(88.29% 0.09 91.72deg);
	--color-warning-300: oklch(84.6% 0.12 91.93deg);
	--color-warning-400: oklch(80.93% 0.14 90.26deg);
	--color-warning-500: oklch(77.33% 0.15 87.79deg);
	--color-warning-600: oklch(71.31% 0.14 87.93deg);
	--color-warning-700: oklch(65.27% 0.13 87.56deg);
	--color-warning-800: oklch(59.19% 0.12 88.44deg);
	--color-warning-900: oklch(52.84% 0.1 88.02deg);
	--color-warning-950: oklch(46.17% 0.09 88.28deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(91.27% 0.03 17.75deg);
	--color-error-100: oklch(81.47% 0.07 18.61deg);
	--color-error-200: oklch(71.99% 0.11 20deg);
	--color-error-300: oklch(63.2% 0.15 22.3deg);
	--color-error-400: oklch(55.9% 0.19 25.52deg);
	--color-error-500: oklch(50.94% 0.2 28.63deg);
	--color-error-600: oklch(47.18% 0.19 28.54deg);
	--color-error-700: oklch(43.11% 0.17 28.48deg);
	--color-error-800: oklch(39.19% 0.15 28.34deg);
	--color-error-900: oklch(34.91% 0.14 28.25deg);
	--color-error-950: oklch(30.77% 0.12 28.02deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(89.53% 0 18.65deg);
	--color-surface-100: oklch(80.55% 0 18.48deg);
	--color-surface-200: oklch(71.22% 0 none);
	--color-surface-300: oklch(61.42% 0 18.12deg);
	--color-surface-400: oklch(51.38% 0 none);
	--color-surface-500: oklch(40.91% 0 none);
	--color-surface-600: oklch(36.1% 0 17.7deg);
	--color-surface-700: oklch(31.02% 0 17.63deg);
	--color-surface-800: oklch(26.14% 0 17.57deg);
	--color-surface-900: oklch(20.58% 0 17.52deg);
	--color-surface-950: oklch(14.73% 0 17.63deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}